body {
    overflow-x: hidden;
}

#prizes-display {
    position: relative;
    display: flex;
    height: 500px;
}

#prizes-display span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #9FDDFF;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #9FDDFF44,
    0 0 50px #9FDDFF,
    0 0 100px #9FDDFF;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

#prizes-display .prize-bubble {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
}

#prizes-display .prize-bubble h3 {
    display: none;
    font-size: 28px;
    backdrop-filter: blur(10px) saturate(70%);
}

#prizes-display .prize-bubble:hover {
    animation-play-state: paused;
}

#prizes-display #macbook-prize-bubble {
    background: url("../images/prizes/macbook.jpg");
    background-size: cover;
}

#prizes-display #headphones-prize-bubble {
    background: url("../images/prizes/headphones.jpg");
    background-size: cover;
    left: 500px;
}

#prizes-display #gamingmouse-prize-bubble {
    background: url("../images/prizes/gamingmouse.jpg");
    background-size: cover;
    left: 1000px;
}

#prizes-display span:nth-child(even)
{
    background: #FE3BF9;
    box-shadow: 0 0 0 10px #FE3BF944,
    0 0 50px #FE3BF9,
    0 0 200px #FE3BF9;
}

@keyframes animate 
{
    0%
    {
        transform: translateY(90vh) scale(0);
    }
    100%
    {
        transform: translateY(0vh) scale(1);
    }
}